.parent {
    display: grid;
    height: 200px;
    width: 800px;
    background: papayawhip;
}

.parent--children {
    display: grid;
    height: 100px;
    width: 400px;
    background: yellowgreen;
}

.child {
    height: 50px;
    width: 200px;
    background-color: azure;
}